In [2]:
import pandas as pd

In [3]:
house_pricing = pd.read_csv("AB_US_2020.csv")
house_pricing

/opt/python/envs/default/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.651460,-82.627920,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.597790,-82.555400,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.606700,-82.555630,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.578640,-82.595780,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.614420,-82.541270,Private room,125,30,58,19/10/15,0.52,1,0,Asheville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226025,45506143,"DC Hidden In Plain ""Site""",25973146,Marci,NaN,"Downtown, Chinatown, Penn Quarters, Mount Vern...",38.903880,-77.029730,Entire home/apt,104,1,0,NaN,NaN,2,99,Washington D.C.
226026,45511428,DC 3 BR w/ screen porch 3 blck to metro w/ par...,231133074,Thomas,NaN,"Brookland, Brentwood, Langdon",38.920820,-76.990980,Entire home/apt,151,2,0,NaN,NaN,1,300,Washington D.C.
226027,45514685,Charming Penthouse Apt w/ Rooftop Terrace in L...,33758935,Bassem,NaN,"Shaw, Logan Circle",38.911170,-77.033540,Entire home/apt,240,2,0,NaN,NaN,1,173,Washington D.C.
226028,45516412,Adams Morgan/Nat'l Zoo 1 BR Apt #32,23193071,Michael,NaN,"Kalorama Heights, Adams Morgan, Lanier Heights",38.926630,-77.044360,Entire home/apt,60,21,0,NaN,NaN,5,362,Washington D.C.
226029,45517735,Beautiful large one-bedroom w/ washer and dryer,17789858,Adam,NaN,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.911569,-77.009431,Entire home/apt,79,7,0,NaN,NaN,2,62,Washington D.C.

In [4]:
house_pricing.info

<bound method DataFrame.info of               id                                               name  \
0          38585    Charming Victorian home - twin beds + breakfast
1          80905                                   French Chic Loft
2         108061  Walk to stores/parks/downtown. Fenced yard/Pet...
3         155305                 Cottage! BonPaul + Sharky's Hostel
4         160594                                Historic Grove Park
...          ...                                                ...
226025  45506143                          DC Hidden In Plain "Site"
226026  45511428  DC 3 BR w/ screen porch 3 blck to metro w/ par...
226027  45514685  Charming Penthouse Apt w/ Rooftop Terrace in L...
226028  45516412                Adams Morgan/Nat'l Zoo 1 BR Apt #32
226029  45517735    Beautiful large one-bedroom w/ washer and dryer

          host_id  host_name neighbourhood_group  \
0          165529    Evelyne                 NaN
1          427027    Celeste                 NaN
2          320564       Lisa                 NaN
3          746673    BonPaul                 NaN
4          769252  Elizabeth                 NaN
...           ...        ...                 ...
226025   25973146      Marci                 NaN
226026  231133074     Thomas                 NaN
226027   33758935     Bassem                 NaN
226028   23193071    Michael                 NaN
226029   17789858       Adam                 NaN

                                            neighbourhood   latitude  \
0                                                   28804  35.651460
1                                                   28801  35.597790
2                                                   28801  35.606700
3                                                   28806  35.578640
4                                                   28801  35.614420
...                                                   ...        ...
226025  Downtown, Chinatown, Penn Quarters, Mount Vern...  38.903880
226026                      Brookland, Brentwood, Langdon  38.920820
226027                                 Shaw, Logan Circle  38.911170
226028     Kalorama Heights, Adams Morgan, Lanier Heights  38.926630
226029  Edgewood, Bloomingdale, Truxton Circle, Eckington  38.911569

        longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -82.627920     Private room     60               1                138
1      -82.555400  Entire home/apt    470               1                114
2      -82.555630  Entire home/apt     75              30                 89
3      -82.595780  Entire home/apt     90               1                267
4      -82.541270     Private room    125              30                 58
...           ...              ...    ...             ...                ...
226025 -77.029730  Entire home/apt    104               1                  0
226026 -76.990980  Entire home/apt    151               2                  0
226027 -77.033540  Entire home/apt    240               2                  0
226028 -77.044360  Entire home/apt     60              21                  0
226029 -77.009431  Entire home/apt     79               7                  0

       last_review  reviews_per_month  calculated_host_listings_count  \
0         16/02/20               1.14                               1
1         07/09/20               1.03                              11
2         30/11/19               0.81                               2
3         22/09/20               2.39                               5
4         19/10/15               0.52                               1
...            ...                ...                             ...
226025         NaN                NaN                               2
226026         NaN                NaN                               1
226027         NaN                NaN                               1
226028         NaN                NaN                               5
226029         NaN                NaN                               2

        availability_365             city
0                      0        Asheville
1                    288        Asheville
2                    298        Asheville
3                      0        Asheville
4                      0        Asheville
...                  ...              ...
226025                99  Washington D.C.
226026               300  Washington D.C.
226027               173  Washington D.C.
226028               362  Washington D.C.
226029                62  Washington D.C.

[226030 rows x 17 columns]>

In [5]:
#remove nabourhood and city
house_pricing.drop(axis=1, columns=["neighbourhood","city"],inplace=True)
house_pricing

,id,name,host_id,host_name,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,35.651460,-82.627920,Private room,60,1,138,16/02/20,1.14,1,0
1,80905,French Chic Loft,427027,Celeste,NaN,35.597790,-82.555400,Entire home/apt,470,1,114,07/09/20,1.03,11,288
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,35.606700,-82.555630,Entire home/apt,75,30,89,30/11/19,0.81,2,298
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,35.578640,-82.595780,Entire home/apt,90,1,267,22/09/20,2.39,5,0
4,160594,Historic Grove Park,769252,Elizabeth,NaN,35.614420,-82.541270,Private room,125,30,58,19/10/15,0.52,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226025,45506143,"DC Hidden In Plain ""Site""",25973146,Marci,NaN,38.903880,-77.029730,Entire home/apt,104,1,0,NaN,NaN,2,99
226026,45511428,DC 3 BR w/ screen porch 3 blck to metro w/ par...,231133074,Thomas,NaN,38.920820,-76.990980,Entire home/apt,151,2,0,NaN,NaN,1,300
226027,45514685,Charming Penthouse Apt w/ Rooftop Terrace in L...,33758935,Bassem,NaN,38.911170,-77.033540,Entire home/apt,240,2,0,NaN,NaN,1,173
226028,45516412,Adams Morgan/Nat'l Zoo 1 BR Apt #32,23193071,Michael,NaN,38.926630,-77.044360,Entire home/apt,60,21,0,NaN,NaN,5,362
226029,45517735,Beautiful large one-bedroom w/ washer and dryer,17789858,Adam,NaN,38.911569,-77.009431,Entire home/apt,79,7,0,NaN,NaN,2,62

In [6]:
#to remove row number 2
house_pricing.drop(2,axis=0)

,id,name,host_id,host_name,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,35.651460,-82.627920,Private room,60,1,138,16/02/20,1.14,1,0
1,80905,French Chic Loft,427027,Celeste,NaN,35.597790,-82.555400,Entire home/apt,470,1,114,07/09/20,1.03,11,288
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,35.578640,-82.595780,Entire home/apt,90,1,267,22/09/20,2.39,5,0
4,160594,Historic Grove Park,769252,Elizabeth,NaN,35.614420,-82.541270,Private room,125,30,58,19/10/15,0.52,1,0
5,209068,Terrace Cottage,1029919,Kevin,NaN,35.618560,-82.552760,Entire home/apt,134,7,54,14/01/20,0.49,1,294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226025,45506143,"DC Hidden In Plain ""Site""",25973146,Marci,NaN,38.903880,-77.029730,Entire home/apt,104,1,0,NaN,NaN,2,99
226026,45511428,DC 3 BR w/ screen porch 3 blck to metro w/ par...,231133074,Thomas,NaN,38.920820,-76.990980,Entire home/apt,151,2,0,NaN,NaN,1,300
226027,45514685,Charming Penthouse Apt w/ Rooftop Terrace in L...,33758935,Bassem,NaN,38.911170,-77.033540,Entire home/apt,240,2,0,NaN,NaN,1,173
226028,45516412,Adams Morgan/Nat'l Zoo 1 BR Apt #32,23193071,Michael,NaN,38.926630,-77.044360,Entire home/apt,60,21,0,NaN,NaN,5,362
226029,45517735,Beautiful large one-bedroom w/ washer and dryer,17789858,Adam,NaN,38.911569,-77.009431,Entire home/apt,79,7,0,NaN,NaN,2,62

In [7]:
iris = pd.read_csv("IRIS.csv")
iris

,sepal_length,sepal_width,petal_length,petal_width,species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
iris.info

<bound method DataFrame.info of      sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [9]:
iris.shape

(150, 5)

In [11]:
my_df = pd.DataFrame([[10,20,30,40,"Avatar"]])
my_df

,0,1,2,3,4
0,10,20,30,40,Avatar

In [12]:
my_df1 = pd.DataFrame([[10,20,30,40,"Avatar"]],columns=["sepal_length", "sepal_width","petal_length", "petal_width", "species"])
my_df1

,sepal_length,sepal_width,petal_length,petal_width,species
0,10,20,30,40,Avatar

In [16]:
iris.append(my_df1, ignore_index=True )
#op is not showing sorted output like 150 
#for that we used ignore indexing or by sorting the index

,sepal_length,sepal_width,petal_length,petal_width,species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica
150,10.0,20.0,30.0,40.0,Avatar

In [18]:
iris.tail()
#we have 5 row and 6 column 
#by defoult dataframe create 1 indexing colujmn

,sepal_length,sepal_width,petal_length,petal_width,species
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [20]:
#Append does not give inplace option 
#so that we have to reasssign to it
iris_df = iris.append(my_df1)

In [21]:
iris_df.tail()

,sepal_length,sepal_width,petal_length,petal_width,species
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica
0,10.0,20.0,30.0,40.0,Avatar

In [22]:
iris_df.reset_index()

,index,sepal_length,sepal_width,petal_length,petal_width,species
0,0,5.1,3.5,1.4,0.2,Iris-setosa
1,1,4.9,3.0,1.4,0.2,Iris-setosa
2,2,4.7,3.2,1.3,0.2,Iris-setosa
3,3,4.6,3.1,1.5,0.2,Iris-setosa
4,4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.3,2.5,5.0,1.9,Iris-virginica
147,147,6.5,3.0,5.2,2.0,Iris-virginica
148,148,6.2,3.4,5.4,2.3,Iris-virginica
149,149,5.9,3.0,5.1,1.8,Iris-virginica
150,0,10.0,20.0,30.0,40.0,Avatar

In [24]:
iris_df["sepal_length"].sum()

886.5

In [33]:
# iris["sepal_length"].sum()
iris.iloc[0:,].sum()

'Iris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-versicolorIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginicaIris-virginica'

In [36]:
iris_sum = pd.DataFrame([[iris["sepal_length"].sum(),iris["sepal_width"].sum(),iris["petal_length"].sum(),iris["petal_width"].sum(),iris["Categorical_data"]], columns=["sepal_length","sepal_width","petal_length","petal_width","species"])

SyntaxError: SyntaxError: invalid character in identifier

In [ ]:
iris=iris.append(iris_sum)
iris.reset_index(inplace=True,drop=True)
iris

In [ ]:
sum_df = my_df = pd.DataFrame([[df.iloc[:,0].sum(), df.iloc[:,1].sum(), df.iloc[:,2].sum(), df.iloc[:,3].sum(), "SUM"]], columns=["sepal_length", "sepal_width","petal_length", "petal_width", "species"])frames = [df,sum_df]final_df = pd.concat(frames)final_df.reset_index(drop=True, inplace = True)

In [38]:
iris_df.sum()

In [39]:
iris_df.append(iris_df.sum, ignore_index=True)

TypeError: TypeError: cannot concatenate object of type '<class 'method'>'; only Series and DataFrame objs are valid

In [47]:
iris_df.nunique()

In [48]:
iris_df["species"].unique()

In [49]:
my_df1 = pd.DataFrame([[10,20,30,40,"Avatar"]],columns=["sepal_length", "sepal_width","petal_length", "petal_width", "species"])
my_df2 = pd.DataFrame([[10,20,30,40,"Avatar"]],columns=["sepal_length", "sepal_width","petal_length", "petal_width", "species"])

In [50]:
my_df1 + my_df2
#adding or concating the output addition

,sepal_length,sepal_width,petal_length,petal_width,species
0,20,40,60,80,AvatarAvatar

In [52]:
iris_df_1 = iris.drop(axis=1,columns=["species"])
iris_df_1

,sepal_length,sepal_width,petal_length,petal_width
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
...,...,...,...,...
145,6.7,3.0,5.2,2.3
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8

In [55]:
iris_df_2 = iris_df_1.copy()
iris_df_2

,sepal_length,sepal_width,petal_length,petal_width
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
...,...,...,...,...
145,6.7,3.0,5.2,2.3
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8

In [64]:
iris_df_3 = iris.iloc[0:,0:5] / iris_df_1.iloc[0:,0:]
iris_df_3

,petal_length,petal_width,sepal_length,sepal_width,species
0,1.0,1.0,1.0,1.0,NaN
1,1.0,1.0,1.0,1.0,NaN
2,1.0,1.0,1.0,1.0,NaN
3,1.0,1.0,1.0,1.0,NaN
4,1.0,1.0,1.0,1.0,NaN
...,...,...,...,...,...
145,1.0,1.0,1.0,1.0,NaN
146,1.0,1.0,1.0,1.0,NaN
147,1.0,1.0,1.0,1.0,NaN
148,1.0,1.0,1.0,1.0,NaN
149,1.0,1.0,1.0,1.0,NaN

In [59]:
iris_df_3.join(iris_df["species"])

,sepal_length,sepal_width,petal_length,petal_width,species
0,1.0,1.0,1.0,1.0,Iris-setosa
0,1.0,1.0,1.0,1.0,Avatar
1,1.0,1.0,1.0,1.0,Iris-setosa
2,1.0,1.0,1.0,1.0,Iris-setosa
3,1.0,1.0,1.0,1.0,Iris-setosa
...,...,...,...,...,...
145,1.0,1.0,1.0,1.0,Iris-virginica
146,1.0,1.0,1.0,1.0,Iris-virginica
147,1.0,1.0,1.0,1.0,Iris-virginica
148,1.0,1.0,1.0,1.0,Iris-virginica
149,1.0,1.0,1.0,1.0,Iris-virginica